@{
    ViewData["Title"] = "Register Page";
}

<div class="content-container">
  <h3>Cadastro Cliente</h3>
  <form action="">

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">CPF:</label>
      <input type="text" max-width="200px" class="form-control input-form" id="exampleFormControlInput1" placeholder="123.321.123-64">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome:</label>
      <input type="text" class="form-control input-form" id="exampleFormControlInput1" placeholder="Mark Luter">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Data de Nascimento:</label>
      <input type="date" class="form-control input-form" id="exampleFormControlInput1" placeholder="24/10/1985">
    </div>

    <label>sexo:
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Feminino
        </label>
      </div>
    </label>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Endereco:</label>
      <input type="text" class="form-control input--adress-form" id="exampleFormControlInput1" placeholder="Ex: Rua das Acacias, 130">
    </div>

    <label for="">Estado
    <select class="form-select select-form" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </label>

    <label for="">Cidade
    <select class="form-select select-form" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </label>

    <div class="btn-group">
      <button type="button" class="btn btn-primary">Salvar</button>
      <button type="button" class="btn btn-outline-dark">Limpar</button>
    </div>

  </form>
</div>